{% extends "swish/register-login.html" %}

{% load static %}

{% block title %}
    Reset password
{% endblock %}

{% block body %}
    <div class="register-login-form-container">
        <h3 class="register-login-form-heading">Reset Password</h3>

        <form method="post" class="register-login-form">
            {% csrf_token %}

            <div id="register-inputs"></div>

            <div class="form-submit-btn-container">
                <input type="submit" value="Reset" class="btn btn-primary form-submit-btn">
            </div>
        </form>
    </div>

    <script src="{% static 'swish_react/scripts/main.js' %}"></script>
{% endblock %}